h1{
    
    text-align:center;
}
h2{
    /* Light gray background color */
    background-color: #f5d20c; 
    text-align:center;
}
body {
    background-color: #f4f4f4; /* Light gray background color */
}